@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap');

:root {
    --color-principal: #06bf02;
    --fuente-principal: 'Lexend Mega', sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-principal);
    background-image: url('sprites/fondo2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border: 2px solid var(--color-principal);
    border-radius: 25px;
    backdrop-filter: blur(18px);
    gap: 20px;
}

h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 6em;
    text-shadow: var(--color-principal) 0 0 22px;
}

p {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    padding: 0 50px;
    margin: 0;
    /* text-align: center; */
    text-shadow: var(--color-principal) 0 0 22px;

}

strong {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: var(--color-principal) 0 0 22px;
}

button {
    align-self: center;
    box-shadow: var(--color-principal) 0 0 22px;
    background-color: var(--color-principal);
    color: white;
    font-family: var(--fuente-principal);
    font-size: 3.5em;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #029400;
    color: white;
    transition: all 0.3s ease;
}

button:disabled {
    background-color: gray;
    color: rgb(174, 174, 174);
    cursor: not-allowed;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

canvas {
    display: block;
    border-top: 10px solid var(--color-principal);
    border-bottom: 10px solid var(--color-principal);
    -webkit-box-shadow: 0px 0px 22px 0px rgba(6, 191, 2, 1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(6, 191, 2, 1);
    box-shadow: 0px 0px 22px 0px rgba(6, 191, 2, 1);
}

@media (min-width: 768px) {

    main {
        align-items: none;
    }

    h2 {
        font-size: 8rem;
    }

    p {
        font-size: 2.5rem;
        text-align: left;
    }

    button {
        font-size: 2rem;
    }
}